<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "Über uns", wir_path, class: "btn btn-primary"  %>
<%= link_to "Charta", charta_path, class: "btn btn-primary"  %>
<%= link_to "Mitmachen", join_path, class: "btn btn-primary"  %>
<%= link_to "Testimonials", testimonial_path, class: "btn btn-primary"  %>
